<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
<div class="top-bar">
  <div>info@cosmeticpharmacy.al | +355 00 00 00 000</div>
  <div>
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
    <a href="#">YouTube</a>
  </div>
</div>

<nav class="main-nav">
  <a href="#">DERMOKOZMETIKË</a>
  <a href="#">FARMACI</a>
  <a href="#">SUPLEMENTE</a>
  <a href="#">HIGJIENË</a>
  <a href="#">BEBE DHE NËNA</a>
  <a href="#">GIFT CARD</a>
  <a href="#">OFERTË</a>
  <a href="#">QUIZ</a>
</nav>

<div class="logo-search">
  <div class="logo">Cosmetic Pharmacy</div>
  <div class="search-box">
    <input type="text" id="searchInput" placeholder="Kërkoni për produkte..." />
  </div>
</div>


<h1 style="text-align: center;">
  Privacy Policy
</h1>

<div style="margin: auto; width: 40%;">
  <h2>
    This Privacy Policy describes how Cosmetic Pharmacy ("[Cosmetic Pharmacy]", "we," "us," or "our") collects, uses, and shares personal information collected through our website located at cosmeticpharmacy.al (the "Website") and related services (collectively, the "Services").
  </h2>
</div>

<div style=" margin:auto; width: 40%">
  <h4>
    1. Information We Collect: We collect several types of information from and about users of our Services, including:
  </h4>

  <h4>
    +Personal Information: This includes information that identifies, relates to, describes, is reasonably capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or household. Examples include:
  </h4>
  <h5>
    -Information you provide:Such as your name, email address, postal address, phone number, payment information, and any other information you provide when placing an order, creating an account, contacting customer support, or participating in surveys or contests.<br>
    -Information from your use of the Services: Such as your IP address, browser type, operating system, referring URLs, device information, and the dates and times you access our Services.<br>
    -Information from cookies and similar technologies: We use cookies and similar technologies to collect information about your browsing activity on our Website. This information may include your browsing history, search queries, and interactions with our Website's content.<br>
  </h5>

  <h4>
    +Non-Personal Information: This is information that does not directly identify you. Examples include aggregated data about the use of our Services.
  </h4>

  <h4>
    2. How We Use Your Information:We use the information we collect for various purposes, including:
    <h5>
      -Processing your orders: We use your information to process your orders, manage your account, and communicate with you about your orders.<br>
      -Providing customer support: We use your information to respond to your inquiries and provide customer support.<br>
      -Improving our Services: We use your information to improve our Website, products, and Services.<br>
      -Marketing and promotions: With your consent, we may use your information to send you marketing communications about new products, special offers, and other promotions.<br>
      -Compliance with legal obligations: We may use your information to comply with applicable laws and regulations.
    </h5>
  </h4>

  <h4>
    3. How We Share Your Information:We may share your information with:
    <h5>
      -Service providers: We may share your information with third-party service providers who assist us with various aspects of our business, such as payment processing, shipping, and data analytics. These providers are contractually obligated to protect your information.<br>
      -Legal authorities: We may disclose your information to legal authorities if required by law or legal process.
    </h5>
  </h4>

  <h4>
    4. Your Choices:You have certain choices regarding your personal information, including:

    <h5>
      -Opting out of marketing communications: You can opt out of receiving marketing communications from us by following the unsubscribe instructions in our emails.<br>
      -Accessing and updating your information: You can access and update your personal information by logging into your account on our Website.<br>
      -Deleting your account: You can request that we delete your account and your personal information by contacting us at [Contact Information].
    </h5>

  </h4>

  <h4>
    5. Data Security:<br>

    We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the Internet or electronic storage is completely secure. We cannot guarantee the absolute security of your information.
  </h4>

  <h4>

  </h4>

  <h4>
    6. Children's Privacy:<br>

    Our Services are not directed to children under the age of [Age]. We do not knowingly collect personal information from children under the age of [Age]. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us at [Contact Information].
  </h4>

  <h4>
    7. Changes to this Privacy Policy:<br>

    We may update this Privacy Policy from time to time. We will post any changes on our Website and, if the changes are material, we will provide you with more prominent notice.
  </h4>

  <h3>
    If you have any questions about this Privacy Policy, please contact us at info@cosmeticpharmacy.al.
  </h3>

</div>
<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h4 data-i18n="about_us">Rreth nesh</h4>
      <a href="#">Kontakt</a><br />
      <a href="#">Misioni yne</a><br />
      <a href="#">Blog</a>
    </div>
    <div class="footer-section">
      <h4 data-i18n="contact_us">Kategoritë</h4>
      <a href="#">Dermokozmetikë</a><br />
      <a href="#">Farmaci</a><br />
      <a href="#">Suplemente</a><br />
      <a href="#">Higjienë</a><br />
      <a href="#">Markat</a><br />
      <a href="#">Bebe dhe nëna</a><br />
      <a href="#">Gift Card</a>
    </div>
    <div class="footer-section">
      <h4 data-i18n="costumer_service">Shërbim klienti</h4>
      <a href="#">Profili im</a><br />
      <a href="#">Si të blej</a><br />
      <a href="#">Dërgesa dhe transporti</a><br />
      <a href="#">Mënyrat e pagesës</a><br />
      <a href="#">Gjurmimi i dërgesës</a>
    </div>
    <div class="footer-section">
      <h4 data-i18n="social">Na ndiqni</h4>
      <a href="#">Facebook</a><br />
      <a href="#">Instagram</a><br />
      <a href="#">YouTube</a>
    </div>
    <div class="footer-section">
      <h4 data-i18n="security">Siguria</h4>
      <a href="#">Siguria e te dhenave personale</a><br />
      <a href="#">Siguria e produkteve</a><br />
      <a href="#">Termat dhe kushtet e bleries</a>
    </div>
  </div>
  <p class="footer-description__content">Cosmetic Pharmacy është farmacia juaj online</p>
  <p class="copyright">© 2025 Cosmetic Pharmacy. Të gjitha të drejtat e rezervuara.</p>
</footer>

</body>

</html>
